@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
html{
    font-family: 'Kanit';
    font-size: 12px;
}
header {
    text-align: center;
    background: #134B8A;
    height: 60px;
    width: auto;
  }
.container{
    display: flex;
    float: right;
    margin : 0;
}
section{
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    
}
form{
  display: flex;
  align-items: stretch;
  margin-bottom: 4rem;
}
.search-control,.search-btn{
  width: 100%;
}
.search-control{
  padding: 0 1rem;
  font-size: 1.1rem;
  outline: 0;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-btn{
  width: 185px;
  height: 43px;
  font-size: 1.1rem;
  color: gray;
  background-color: white;
  border: 1px solid gray;
  border-left: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
select {
    height: 43px;
    width: 185px;
    padding: 0 1rem;
    border-radius: 50px;
    padding-right: 14px;
}
.vl {
    border-left: 2px solid #134B8A;
    height: 40px;
    margin-left: 14px;
    margin-right: 14px;
  }
.plc{
    text-align: left;
    font-size: 24px;
    color: black;
    margin : -7.5px 20px;
}
.sidebar {
    height: 1456px;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
  }
  .sidebar a {
    padding: 15px 0;
    text-decoration: none;
    display: block;
  }
  hr.solid {
    border-top: 1px solid #E5E5E5;
  }
  .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 400px;
  height: 225px;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #134B8A;
  border-radius: 50%;
  display: inline-block;
}
.rate{
  margin-top: -50px;
  padding: 5px;
}
.dotrate{
  margin-top: -40px;
}
.demo1{
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.demo3{
	border-top-right-radius: 20%;
  	border-bottom-right-radius: 20%;
}
img.Avatar1{
  padding:-50px;
  margin-top: -43px;
	border-radius: 20%;
}
div.row1 {
  padding: -10px;
  margin-top: 30px;
  display: inline-block;
  align-items: center;
}
.text,.text1{
  padding: 2px 80px;
  font-size: 14px;
}
.item{
  padding-left: 150px;
}
@media screen and (min-width:800px){
  #item{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(30rem,1fr));
    gap: 1.5rem;
  }
  
}
@media screen and (min-width:992px){
  #item{
    grid-template-columns: repeat(3,1fr);
  }
}
.pagination{
  position: absolute;
  /* top: 85%; */
  margin-top: 30px;
  left: 40%;
  /* transform: translate(-50%, -50%); */
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 100%;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #134B8A;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}